<IfModule mod_rewrite.c>
    RewriteEngine On
	
	# Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
	
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_URI} !(.*)/$
    RewriteRule ^ index.php [QSA,NC,L]
	
	# Em um servidor com SSL ativo descomente as duas próximas linhas, pois em servidores de testes em ambiente local
	# RewriteCond %{HTTPS} off
    # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>


